<h1>控制图片缩放</h1>
<div style="width:400px; margin:0 auto">
  <%= image_tag "avator", id:"myImage" %></br>
  <input type="button" id="max" value="放大"/>
  <input type="button" id="min" value="缩小"/>
</div>
